<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023 Resolution Manager</title>
    <link rel="stylesheet" href="/public/assets/styles.css">
</head>

<body>
    <div>
        <header>
            <img src="/public/assets/img/2023(1).jpg" class="img1">
    </div>
    <section class="container">
        <section class="cont">
            <h3>New Year Resolution Manager</h3>
            <div id="res-list">
                <input type="text" placeholder="Enter your resolution" id="new-res">
                <button id="add-res" class="submit">Add</button>
                <section class="List">
                    <h2>Resolution List</h2>
                    <ol>
                        
                    </ol>

                </section>
        </section>
    </section>

</div>
    </div>
    <script type="text/javascript" src="/public/assets/function.js"></script>
</body>

